.header{
    background-color: $dark-blue;
}

.header_title{
    color: white;
    text-decoration: none;
    padding: 2rem;
    .h1{
        margin:0;
    }
}

.item-title{
    color: white;
    text-decoration: none;
    border:bisque;
    
}
.item{

}